# Application
APP_URL=http://localhost:9000
SERVER_ENVIRONMENT=local
SECRET_KEY='django-insecure-&ypyx$rj0$@wt0$q#83$sv(xggybmpkh3j$grnwhz9#-oygsr^'

# Superuser Creation
DJANGO_SUPERUSER_USERNAME=nandangrover
DJANGO_SUPERUSER_EMAIL=nandangrover.5@gmail.com
DJANGO_SUPERUSER_PASSWORD=12345678

# Debug
DJANGO_DEBUG=true
DJANGO_DEBUG_LOG=false
DJANGO_LOG_BACKEND=false

# AWS
AWS_DEFAULT_REGION=eu-west-2
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

# Amazon S3
AWS_S3_ENDPOINT_URL=http://zevero-backend-localstack-s3:4566
AWS_S3_ENDPOINT_URL_FE=http://localhost:4566

REPORTS_BUCKET=detective-test-reports

# AWS Cloudwatch
AWS_CLOUDWATCH_REGION=eu-west-2
AWS_LOG_GROUP=/ecs/GreenDetective
# AWS Cloudwatch
AWS_CLOUDWATCH_REGION=eu-west-2
AWS_LOG_GROUP=/ecs/GreenDetective

# Development
LOCAL_PROJECT_PATH=/Users/nandangrover/work/greendetective

# Database RelationDB
DBNAME=green_detective
DBHOST=green-detective-postgresdb
DBUSER=root
DBPASS=root
DBPORT=5432

# Redis
REDIS_HOST=redis://green-detective-redis:6379

# Celery
CELERY_TASK_SOFT_TIME_LIMIT=3540
CELERY_TASK_TIME_LIMIT=3600

# Redis
REDIS_HOST=redis://green-detective-redis:6379

# Openai
OPENAI_API_KEY=''
ASSISTANT_ID_PRE=''
ASSISTANT_ID_POST=''

# Sentry
SENTRY_DSN=https://00000000000000000000000000000000@o00000000000000000000000000000000.ingest.sentry.io/00000000000000000000000000000000

# Scraping
MAX_LINKS=30000
MAX_CONTENT_LENGTH=15000

# Celery
CELERY_BROKER_URL=redis://green-detective-redis:6379/0
CELERY_RESULT_BACKEND=redis://green-detective-redis:6379/0
CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASSWORD=admin
CELERY_WORKER_PREFETCH_MULTIPLIER=1

# Celery Rate Limits
CELERY_RATE_LIMIT_GENERAL=10/s
CELERY_RATE_LIMIT_SCRAPE=60/s
CELERY_RATE_LIMIT_PRE_STAGING=40/s
CELERY_RATE_LIMIT_POST_STAGING=40/s
